.Pokedex {
  width: 1000px;
  height: 700px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  background-color: lightblue;
  opacity: 95%;
  border-radius: 4%;
}

h2 {
  font-size: 45px;
  color: white;
}
